.vscode
__pycache__
notes.ipynb
build/lib/cpdetect/bwd/__init__.py
build/lib/cpdetect/__init__.py
build/lib/cpdetect/binseg/__init__.py
build/lib/cpdetect/binseg/binseg.py
build/lib/cpdetect/binseg/quantiles/binseg_T.csv
build/lib/cpdetect/binseg/quantiles/binseg_Z.csv
build/lib/cpdetect/binseg/utils.py
build/lib/cpdetect/bwd/bwd.py
build/lib/cpdetect/bwd/utils.py
build/lib/cpdetect/sara/__init__.py
build/lib/cpdetect/sara/quantiles/sara_T.csv
build/lib/cpdetect/sara/quantiles/sara_Z.csv
build/lib/cpdetect/sara/sara.py
build/lib/cpdetect/sara/utils.py
dist/cpdetect-0.0.1-py3-none-any.whl
dist/cpdetect-0.0.1.tar.gz
src/cpdetect.egg-info/dependency_links.txt
src/cpdetect.egg-info/SOURCES.txt
src/cpdetect.egg-info/PKG-INFO
src/cpdetect.egg-info/top_level.txt
